# Classification - Logistic Regression - IRIS problem

#### Import pandas for importing iris dataset

In [1]:
import pandas as pd

from dataset (iris data) importing 4 features, sepal len & wid, petal len & wid

In [2]:
iris_df = pd.read_csv('iris.csv', skiprows=1, names = ['sepal_len', 'sepal_width', 'petal_len', 'petal_width'], usecols=[0,1,2,3])

Dataframe heads

In [4]:
iris_df.head()

   sepal_len  sepal_width  petal_len  petal_width
0        5.1          3.5        1.4          0.2
1        4.9          3.0        1.4          0.2
2        4.7          3.2        1.3          0.2
3        4.6          3.1        1.5          0.2
4        5.0          3.6        1.4          0.2

#### From iris data, importing labels (Setosa, versicolor, verginica), masked as 0,1,2 respectively

In [5]:
labels_df = pd.read_csv('iris.csv', skiprows=1, names=['Species'], usecols=[4])

In [8]:
labels_df.head()

   Species
0        0
1        0
2        0
3        0
4        0

#### Converting dataframe into numpy array using values attribute

In [9]:
features = iris_df.values

In [10]:
labels = labels_df.values.ravel()

The ravel() method returns a flattened (1-Dimensional) NumPy array

### Logistic Regression - import

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
from sklearn.linear_model import LogisticRegression

### Split the data into training and testing data, with random seeding

In [21]:
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.30, random_state = 2)

### Creating an instance of LogisticRegrssion class

In [22]:
logReg = LogisticRegression()

### Training the Model / Fitting Data

In [23]:
logReg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Predicting the label for 1st row in features, cross check with first row in labels

In [25]:
print(logReg.predict(x_test[0].reshape(1,-1)))
print(y_test[0])

[0]
0

### Predict for all rows in test data

In [26]:
predictions = logReg.predict(x_test)

The difference here in both is reshape(1,-1), which is used to flatten input if it's only one row, for all rows, we don't use reshaping as flat array because it doen't make sense

### Score Model

In [27]:
score = logReg.score(x_test, y_test)

In [28]:
print('Score: ', score)

Score:  0.9333333333333333

Score of 0.93 means the model we just created gave out correct results for 93% of the test data

### Confusion Matrix

In [29]:
from sklearn.metrics import confusion_matrix

In [31]:
cm = confusion_matrix(predictions, y_test)

In [32]:
print(cm)

[[17  0  0]
 [ 0 12  0]
 [ 0  3 13]]