### Example BRICS Countries

In [1]:
import pandas as pd

In [2]:
brics = pd.read_csv('BRICS.csv', index_col = 0)

In [3]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa  Pretorica   1.221       52.98

In [4]:
brics['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [5]:
type(brics['country'])

pandas.core.series.Series

In [6]:
brics[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [7]:
type(brics[['country']])

pandas.core.frame.DataFrame

In [16]:
brics.dtypes

country        object
capital        object
area          float64
population    float64
dtype: object

In [8]:
brics[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa  Pretorica

In [9]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

### Square brackets work, but it has limited functionality

ideally it is similar to 2D NumPy arrays

np_array[row, col]


### loc and iloc

- loc - workss for labels
- iloc - works for positions

In [10]:
brics.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

#### loc returns a row as pandas series object

### To get a dataframe -

In [11]:
brics.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [12]:
brics.loc[['RU', 'IN']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [13]:
brics.loc[['RU', 'IN'], ['country', 'capital']]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi

## RECAP

### Square Brackets
- column access : brics['country', 'capital']
- Row access - only through slicing : brics[1:4]

### loc 
- Row access : brics.loc[['RU', 'IN']]
- column access : brics.loc[:, ['country', 'capital']]

## iloc

In [14]:
brics.iloc[[1, 2], [0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi

## brics.loc[['RU', 'IN'], ['country', 'capital']]  =  brics.iloc[[1, 2], [0, 1]]